

.login__container {
    display: flex;
}

.login__formSubmit {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 15vw;
    position: fixed;
    left: 40%;
    top: 40%;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgb(122, 96, 146);
}

.login__submit {
    margin: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
}